<!-- <div class="wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card>

    <div class="logo">
      <img src="https://cdn.glitch.com/ab540176-f934-423f-8889-7e3afa504839%2Flogo.svg?1555106641624" alt="Thundershare logo">
    </div>

    <div class="message">
      Add your info below
    </div>

    <div class="form">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput type="text" autocomplete="off">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="text" autocomplete="off">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" autocomplete="off">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password again</mat-label>
        <input matInput type="password" autocomplete="off">
      </mat-form-field>
    </div>

    <mat-card-actions fxLayout="row">
      <span style="flex: 1 1 auto;"></span>
      <button mat-raised-button color="primary">REGISTER</button>
    </mat-card-actions>

  </mat-card>
</div> -->